@charset "utf-8";
/* CSS Document */
/* reset marginesów i dopełnień */
html body ul li 
{ 
    margin: 0; padding: 0; 
}
/* ustawienia ogólne */
body 
{ 
    background: #012403;
    font: 0.625em arial, tahoma, verdana, sans-serif; 
    color: #20w2a38;
}
.name
{
    color: wheat;
}
.content 
{ 
    width: 980px; 
    margin: 0px auto; 
    overflow: hidden; 
}
nav
{
    color: white;
}
.item
{
    
    display: flex;
    justify-content: center;
    width: 1240px;
    height: auto;
    margin: 30px;
    margin-top: 0px;
    margin-left: 120px;

}
.sekcja-2
{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    
}
header
{
     
    background-image: url('images/tło.jpg');
    position: relative;
    border-bottom: 5px solid rgb(0, 0, 0); 
}
header .content 
{
     
    overflow: hidden; 
    text-align: center;
    text-align: center;
}
header h1 
{ 
    position: relative; 
    
}
header h1 a
{
display: block; 
padding: 10px; 
margin-top: 10px;
font-size: 90px; 
outline: none; 
clear: both;

text-decoration: none; 
color: wheat;
font-family: 'Poppins', sans-serif;
}
header nav 
{ 
    clear: both;
}
header nav 
{ 
    overflow: hidden; 
    position: relative;
    list-style: none; 
    float: left; 
}
#main 
{ 
    position: relative; 
}
#main .content 
{ 
    margin-bottom: 44px; 
}
#main .text 
{ 
    padding: 10px 80px 20px 80px; 
    margin: 0px 0px 20px 0px;
    background-image: url('images/aktualnosci.jpg');

}
#main .text h2 
{ 
    color: rgb(36, 34, 34); 
    font-weight: 70px; 
    font-size: 40px;   
}
#main .text p 
{ 
    color: #133505; 
    font-size: 18px;
}